@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Genel Stiller */
html,body{
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
}
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  background-color: #2e2e2e;
  color: #cccccc;
  display: flex;
  flex-direction: column;
}


/* Navbar */
nav {
  background-color: #333;
  color: #cccccc;
  padding: 10px;
  height: 50px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  height: 100%;
  padding: smaller;
  display: flex; /* Yeni eklenen stil */
  justify-content: center; /* Yeni eklenen stil */

}

nav ul li {
  padding: 10px;
  text-align: center;
  display: inline-block;
  margin-right: 10px;
}
nav ul li.focus,
nav ul li a.focus{
  padding: 10px;
  color: black;
  background-color: #cccccc;
  text-decoration: none;
}
nav ul li a {
  padding: 10px;
  color: #cccccc;
  text-decoration: none;
}
#iletisim,#hakkinda,#anasayfa{
animation: unhovereffect 0.4s backwards;
}
#iletisim:hover,
#hakkinda:hover,
#anasayfa:hover{
animation: hovereffect 0.4s forwards;
}
@keyframes hovereffect{
  0%{
    color: #cccccc;
    background-color: transparent;
    text-decoration: none;
  }
  100%
  {
    color:black;
    background-color:  #cccccc;
    text-decoration: none;
  }
}
@keyframes unhovereffect{
0%{
  color:black;
  background-color:  #cccccc;
  text-decoration: none;
}
100%{
  color: #cccccc;
  background-color: transparent;
  text-decoration: none;
}
}


/* Başlık */
header {
  text-align: center;
  background-color: #1d1d1d;
  padding: 20px;
}

h1 {
    color: #cccccc;
  font-size: 32px;
  margin-bottom: 10px;
}

h2 {
    color: #cccccc;
  font-size: 20px;
}

/* Ana İçerik */
main {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
}

section {
  margin-bottom: 20px;
}
.resim1{
    width: 350px;
    height: 300px;
    
}
.resim2{
    width:  347px;
    height: 300px;
}
.resim3{

    width: 298px;
    height: 300px;
}
.resim4{
    width: 400px;
    height: 300px;
}

section.galeri{
  text-align: center;
  justify-content: center;
  align-items: center;
}

h3.galerih3 {
    color: #cccccc;
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

ul {
  list-style-type:none;
  margin-left: 20px;
}
section ul li a,
section p a{
  text-decoration: none;
  color: #cccccc
}
section ul li a:hover,
section p a:hover{
  text-decoration: underline;
  color: #c2c2c2
}
img {
    width: 250px;
    height: 250px;

  margin-bottom: 3px;
}
section h3.galeri{
  margin-right:100px;
  text-align: center;;
}
p {
    color: #cccccc;
    font-weight: bold;
}

/* Footer */
footer{
  text-align: center;
  background-color: #1d1d1d;
  color: #cccccc;
  padding: 10px;
  flex-shrink: 0;
}
/* discord */
#discord {
  margin-left: 10px;
  font-size: 35px;
  color: #2d62be;
  animation: color-transition 0.4s backwards;
}

#discord:hover {
  animation: color-transition-hover 0.4s forwards;
}
p.discordyazi{
  margin-left: 30px;
}

@keyframes color-transition {
  0% {
    font-size: 50px;
    color: #709eec;
  }
  100% {
    font-size: 40px;

    color: #2d62be;
  }
}
@keyframes color-transition-hover {
  0% {
    font-size: 40px;

    color: #2d62be;
  }
  100% {
    font-size: 50px;

    color: #709eec;
  }
}

/* instagram */
section.instagram{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
section.instagram a{
  font-size: 15px;
  text-decoration: none;
  padding: 20px;
  animation: kucult 0.4s backwards;
  color: #cccccc;
}
section.instagram a:hover{
  animation: buyut 0.4s forwards;

}
section.instagram a i{
  font-size: 40px;
}

@keyframes buyut{
0%{
  font-size: 15px;
  color: #cccccc ;
}
100%{
  font-size: 20px;
  color: #8a3ab9;
}
}
@keyframes  kucult {
  0%{
    font-size: 20px;
    color: #8a3ab9;
  }
  100%{
    font-size: 15px;
  color: #cccccc ;
  }
  
}
section.github a{
  padding: 0;
}
section.spotify{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
section.spotify iframe{
  padding: 10px;
}

section.footernavbar{
  display: flex;
  justify-content: space-between;
  color: #cccccc;
}
section.footernavbar a{
  color: #cccccc;
  text-decoration: none;
}
section.footernavbar a span{
  color: #cccccc;
  display: inline-block;
  padding-bottom: 0.25rem;
  position: relative;
}
section.footernavbar a:hover, section.footernavbar a span:hover{
  color: #7c7c7c;
}

section.github{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
section.github a{
  width: 450px;
  height: 352px;
  padding: 5px;
}







